@import '../../../styles/settings.scss';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-main;
  padding: 10px;

  &__nav_links {
    ul {
      display:flex;
      margin: 0;
    }
  }
}

.active {
  opacity: 0.5;
}