@import '../../../styles/settings.scss';

.root {
  padding-top: 25px;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;

  textarea {
    resize: none;
  }

  h3 {
    color: rgb(180, 3, 32)
  }
}